
body{
    
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit",sans-serif;
    min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.container {
  margin: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.qr-card {
    width: 300px;
   background-color: hsl(0, 0%, 100%);
   border-radius: 15px;
   padding: 15px;
   display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }

  img {
    width: 100%; /* takes the 100 % width of its container (.box div)*/
    height: 100%; 
    border-radius:25px;/* takes the 100 % height of its container (.box div)*/
  }
  section{
    display:flex;
    flex-direction: column;
    justify-content: center;

  }
  div > section {
    padding: 5px;
  }
  h1{
    width:80% ;
    margin:auto;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
  font-size: 20px;
  padding-bottom: 15px;
 
  }
  p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    margin: auto;
    max-width: 80%;
    padding-bottom: 20px;
  }
 